In [2]:
import pandas as pd

Cargar datos

In [3]:
# Importamos el dataset de los datos de los pokemon

pokemon=pd.read_csv('dataset_final.csv')
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [5]:
'''
1. ¿Cuántos pokémon hay en el dataset? Hay 800 tipos de pokemons y en total habría 348.082 pokemons  
'''
#print(pokemon.size)
pokemon.tail()
#pokemon['Total'].sum()
print('Hay', len(pokemon), 'pokemons')

Hay 800 pokemons

In [4]:
'''
2. ¿Cuántos pokémon hay de tipo Poison? (Type 1): 11.176
'''
#pokemon.loc[pokemon['Type 1']=='Poison', ['Name', 'Total','Type 1', 'Type 2']]
print(pokemon.groupby('Type 1')['Total'].sum())
print('Hay 11176 pokemons de tipo Poison')
pokemon[pokemon['Type 1']== 'Poison'].count()

Type 1
Bug         26146
Dark        13818
Dragon      17617
Electric    19510
Fairy        7024
Fighting    11244
Fire        23820
Flying       1940
Ghost       14066
Grass       29480
Ground      14000
Ice         10403
Normal      39365
Poison      11176
Psychic     27129
Rock        19965
Steel       13168
Water       48211
Name: Total, dtype: int64
Hay 11176 pokemons de tipo Poison

#             28
Name          28
Type 1        28
Type 2        13
Total         28
HP            28
Attack        28
Defense       28
Sp. Atk       28
Sp. Def       28
Speed         28
Generation    28
Legendary     28
dtype: int64

In [5]:
'''
3. ¿Cuántos tipos diferentes de pokémon hay? (Type 1)  18
'''
print('Hay 18 tipos de pokemon diferentes')
print(pokemon.groupby('Type 1')['Total'].sum())

Hay 18 tipos de pokemon diferentes
Type 1
Bug         26146
Dark        13818
Dragon      17617
Electric    19510
Fairy        7024
Fighting    11244
Fire        23820
Flying       1940
Ghost       14066
Grass       29480
Ground      14000
Ice         10403
Normal      39365
Poison      11176
Psychic     27129
Rock        19965
Steel       13168
Water       48211
Name: Total, dtype: int64

In [6]:
'''
2. ¿Cuántos pokémon hay de cada tipo? (Type 1)
'''

print(pokemon.groupby('Type 1')['Total'].sum())

'''
2.1 ¿cual es el tipo de pokémon con más pokémon? (Type 1)
'''

print('El tipo con más pokemons es el de agua')

Type 1
Bug         26146
Dark        13818
Dragon      17617
Electric    19510
Fairy        7024
Fighting    11244
Fire        23820
Flying       1940
Ghost       14066
Grass       29480
Ground      14000
Ice         10403
Normal      39365
Poison      11176
Psychic     27129
Rock        19965
Steel       13168
Water       48211
Name: Total, dtype: int64
El tipo con más pokemons es el de agua

In [7]:
'''
3. ¿Cuál es el pokémon más rápido?
'''

pokemon.sort_values('Speed',ascending=False).head(1)

print('El pokemon más rapido es DeoxysSpeed Forme')

El pokemon más rapido es DeoxysSpeed Forme

In [8]:
'''
4. ¿Cuántos pokemon tiene una defensa superior a 100?
'''
print(pokemon[pokemon['Defense']>100].count())

'''
4.1 ¿Cuántos pokemon tiene una defensa superior a 100?
'''

#             123
Name          123
Type 1        123
Type 2         87
Total         123
HP            123
Attack        123
Defense       123
Sp. Atk       123
Sp. Def       123
Speed         123
Generation    123
Legendary     123
dtype: int64

'\n4.1 ¿Cuántos pokemon tiene una defensa superior a 100?\n'

In [9]:
'''
5. ¿Cuántos pokemon tiene una defensa superior a 100 y una velocidad superior a 100? : Hay 9 pokemons con defensa>100 y velocidad >100
'''

pokemon[(pokemon['Defense']>100) & (pokemon['Speed']>100)].count()

#             9
Name          9
Type 1        9
Type 2        8
Total         9
HP            9
Attack        9
Defense       9
Sp. Atk       9
Sp. Def       9
Speed         9
Generation    9
Legendary     9
dtype: int64

In [10]:
'''
6. Ordena el dataset por el tipo 1 y por el tipo 2
'''
pokemon.sort_values(['Type 1', 'Type 2'])

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
656,595,Joltik,Bug,Electric,319,50,47,50,57,50,65,5,False
657,596,Galvantula,Bug,Electric,472,70,77,60,97,60,108,5,False
231,214,Heracross,Bug,Fighting,500,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,600,80,185,115,40,105,75,2,False
697,636,Larvesta,Bug,Fire,360,55,85,55,50,55,60,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,594,Alomomola,Water,NaN,470,165,75,80,40,45,65,5,False
724,656,Froakie,Water,NaN,314,41,56,40,62,44,71,6,False
725,657,Frogadier,Water,NaN,405,54,63,52,83,56,97,6,False
762,692,Clauncher,Water,NaN,330,50,53,62,58,63,44,6,False
763,693,Clawitzer,Water,NaN,500,71,73,88,120,89,59,6,False

In [11]:
'''
7. Crea un nuevo dataset con los pokémon de tipo Water y Fire como primer tipo
'''
Fire_water= pokemon[pokemon['Type 1'].isin(['Fire', 'Water'])]
print(Fire_water)
len(Fire_water)

       #                       Name Type 1  Type 2  Total  HP  Attack  \
4      4                 Charmander   Fire     NaN    309  39      52
5      5                 Charmeleon   Fire     NaN    405  58      64
6      6                  Charizard   Fire  Flying    534  78      84
7      6  CharizardMega Charizard X   Fire  Dragon    634  78     130
8      6  CharizardMega Charizard Y   Fire  Flying    634  78     104
..   ...                        ...    ...     ...    ...  ..     ...
735  667                     Litleo   Fire  Normal    369  62      50
736  668                     Pyroar   Fire  Normal    507  86      68
762  692                  Clauncher  Water     NaN    330  50      53
763  693                  Clawitzer  Water     NaN    500  71      73
799  721                  Volcanion   Fire   Water    600  80     110

     Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
4         43       60       50     65           1      False
5         58       80       65     80           1      False
6         78      109       85    100           1      False
7        111      130       85    100           1      False
8         78      159      115    100           1      False
..       ...      ...      ...    ...         ...        ...
735       58       73       54     72           6      False
736       72      109       66    106           6      False
762       62       58       63     44           6      False
763       88      120       89     59           6      False
799      120      130       90     70           6       True

[164 rows x 13 columns]

164

In [12]:
'''
8. Crea un nuevo dataset con los pokemon Legendary
'''
Legendary_pokemon=pokemon[pokemon['Legendary']== True]
No_legendary= pokemon[pokemon['Legendary']== False]

In [13]:
'''
9. Calcula el promedio de stats de los pokemon Legendary (HP, Attack, Defense, Sp. Atk, Sp. Def, Speed) y los no Legendary (El apartado mean)
'''
Legendary_pokemon.describe()
lp=Legendary_pokemon[['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']]
lp.mean()
Nlp=No_legendary[['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']]
Nlp.mean()

HP         67.182313
Attack     75.669388
Defense    71.559184
Sp. Atk    68.454422
Sp. Def    68.892517
Speed      65.455782
dtype: float64

In [14]:
'''
10. Crea un nuevo dataframe con el resultado del anterior ejercicio comparando ambos promedios

ejemplo:
                HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
Legendary       99      90       89       91       94     90
No Legendary    80      95       75       12       43     87

'''

diccionario = { 'POKEMON': ['Legendary', 'No_Legendary'],
            'HP': [92.74, 67.18], 
            'Attack': [116.68, 75.67],
            'Defense': [99.66, 71.56],
            'Sp_Atk': [122.18, 68.45],
            'Sp_Def': [105.94, 68.89],
            'Speed': [100.18, 65.46]
          }
new_df = pd.DataFrame(data=diccionario)
new_df

        POKEMON     HP  Attack  Defense  Sp_Atk  Sp_Def   Speed
0     Legendary  92.74  116.68    99.66  122.18  105.94  100.18
1  No_Legendary  67.18   75.67    71.56   68.45   68.89   65.46

In [15]:
'''
11. Añade una nueva colunma ['Doble tipo'] al dataframe inicial que inndique si el pokemo tiene dos tipos o no
'''

p=list(pokemon['Type 2'])

valores=[]
for i in p: 
    if pd.isnull(i):
        valores.append('No')
    else: 
        valores.append('Si')



pokemon['Doble tipo']= valores
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Doble tipo
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,Si
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,Si
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,Si
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,Si
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,Si
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,Si
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,Si
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,Si
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,Si

In [16]:
'''
12. Muestra las columas Name, Type 1, Type 2 de los pokémon que tienen dos tipos y ordenalos por Type 1 , Type 2 y Name
'''
dos_tipos=pokemon[pokemon['Doble tipo']== 'Si']
dos_tiposf=dos_tipos[['Name', 'Type 1', 'Type 2']]
dos_tiposf.sort_values(['Name','Type 1', 'Type 2'])

                        Name    Type 1    Type 2
510                Abomasnow     Grass       Ice
511  AbomasnowMega Abomasnow     Grass       Ice
750     AegislashBlade Forme     Steel     Ghost
751    AegislashShield Forme     Steel     Ghost
153               Aerodactyl      Rock    Flying
..                       ...       ...       ...
157                   Zapdos  Electric    Flying
707                   Zekrom    Dragon  Electric
46                     Zubat    Poison    Flying
695                 Zweilous      Dark    Dragon
794         Zygarde50% Forme    Dragon    Ground

[414 rows x 3 columns]

In [17]:
from functools import reduce

'''
13. Dada una lista de Artículos con sus precio. Define las siguientes funciones:
Puedes definir más funciones si lo consideras necesario.
'''
articulos = {
    'Camisa': 20,
    'Pantalón': 30,
    'Calcetines': 5,
    'Zapatos': 50,
    'Gorra': 10,
    'Bufanda': 15,
    'Gafas': 25,
    'Reloj': 35,
    'Corbata': 40,
}

compra = ['Camisa', 'Pantalón', 'Pantalón', 'Gorra', 'Gafas', 'Corbata']

# A. Una función que calcule el precio total de la compra
precios=[]
for key in compra: 
    precios.append(articulos[key]) 

print(precios)

precio_compra= reduce(lambda x,y: x+y, precios, 0)
print('Precio total de la compra (sin IVA y sin descuento): ', precio_compra)

# B. Una función que calcule el precio total de la compra con un descuento del 10%

precio_descuento=reduce(lambda x,y: x+y, list(map(lambda z: z-(z*0.10), precios)), 0)
print('Precio con descuento del 10% es: ', precio_descuento)

# C. Una función que calcule el precio total de la compra con un descuento del 10% si la compra supera los 100€
if precio_compra>100: 
    precio_descuento100=reduce(lambda x,y: x+y, list(map(lambda z: z-(z*0.10), precios)), 0)
    print('Tu compra con descuento al superar los 100€ es: ', precio_descuento100)
else: 
    print('Tienes que superar el importe de 100€ para recibir el 10% de descuento')


# D. Una función que calcule el precio total aplicando el IVA (21%)
precio_iva= precio_descuento=reduce(lambda x,y: x+y, list(map(lambda z: z+(z*0.21), precios)), 0)
print('Precio con IVA aplicado', precio_iva)

# E.lista los artículos cuyo precio es superior a 20€

articulos_mayor20=[]
for key, value in articulos.items(): 
    if value>20: 
        articulos_mayor20.append(key)
articulos_mayor20

[20, 30, 30, 10, 25, 40]
Precio total de la compra (sin IVA y sin descuento):  155
Precio con descuento del 10% es:  139.5
Tu compra con descuento al superar los 100€ es:  139.5
Precio con IVA aplicado 187.54999999999998

['Pantalón', 'Zapatos', 'Gafas', 'Reloj', 'Corbata']

In [18]:
'''
14. Dada una lista de tuplas con el nombre de un alumno, apellidos, curso y sus notas. 

 Define una funcion que reciba el curso y saque una lista en la que aparezca e nombre y apellidos y el promedio de sus notas.
 Puedes definir más funciones si lo consideras necesario.
'''

alumnos = [('Juan', 'Pérez', '1', [5, 6, 7, 8, 9]),
            ('Ana', 'García', '2', [5, 6, 7, 8, 9]),
            ('Luis', 'González', '1', [5, 6, 7, 8, 9]),
            ('María', 'Martínez', '2', [5, 6, 7, 8, 9]),
            ('Pedro', 'Rodríguez', '1', [5, 6, 7, 8, 9]),
            ('Lucía', 'Hernández', '2', [5, 6, 7, 8, 9]),
            ('Marta', 'López', '1', [5, 6, 7, 8, 9]),
            ('Sara', 'Díaz', '2', [5, 6, 7, 8, 9]),
            ('Javier', 'Sánchez', '1', [5, 6, 7, 8, 9]),
            ('Miguel', 'Fernández', '2', [5, 6, 7, 8, 9]),
            ('Sergio', 'Jiménez', '1', [5, 6, 7, 8, 9]),
            ('Sandra', 'Ruiz', '2', [5, 6, 7, 8, 9]),
            ('Pablo', 'Álvarez', '1', [5, 6, 7, 8, 9]),
            ('María', 'Gómez', '2', [5, 6, 7, 8, 9]),
]

from functools import reduce
grade=str(input('Introduce el curso: '))
for i in alumnos: 
    if i[2]==grade:
        promedio=reduce(lambda x, y: x+y,i[3]) /len(i[3])
        print(f'Nombre : {i[0]} , Apellido: {i[1]} y promedio: {promedio}')

Nombre : Ana , Apellido: García y promedio: 7.0
Nombre : María , Apellido: Martínez y promedio: 7.0
Nombre : Lucía , Apellido: Hernández y promedio: 7.0
Nombre : Sara , Apellido: Díaz y promedio: 7.0
Nombre : Miguel , Apellido: Fernández y promedio: 7.0
Nombre : Sandra , Apellido: Ruiz y promedio: 7.0
Nombre : María , Apellido: Gómez y promedio: 7.0